<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_TrincheraPTC"
        tools:targetApi="31">
        <activity
            android:name=".item_Card_Repartidor"
            android:exported="false" />
        <activity
            android:name=".direccion_entrega"
            android:exported="false" />
        <activity
            android:name=".informacion_perfil"
            android:exported="false" />
        <activity
            android:name=".editar_perfil"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true"></activity>
        <activity
            android:name=".ConfirmacionEntrega"
            android:exported="false" />
        <activity
            android:name=".ErrorEntrega"
            android:exported="false" />
        <activity
            android:name=".MenuRepartidor2"
            android:exported="false" />
        <activity
            android:name=".MenuRepartidor"
            android:exported="false" />
        <activity
            android:name=".RecuperacionContrasena3"
            android:exported="false" />
        <activity
            android:name=".RecuperacionContrasena2"
            android:exported="false" />
        <activity
            android:name=".RecuperacionContrasena"
            android:exported="false" />
        <activity
            android:name=".CarroCompraCard"
            android:exported="false" />
        <activity
            android:name=".CarroCompras"
            android:exported="false" />
        <activity
            android:name=".cambio_clave"
            android:exported="false" />
        <activity
            android:name=".Pantalla_pago"
            android:exported="false" />
        <activity
            android:name=".ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Menu_Principal_CardActivity"
            android:exported="false" />
        <activity
            android:name=".Menu_PrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".producto_card"
            android:exported="false" />
        <activity
            android:name=".MenuCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>